V_MWARE_AS_A_SERVICE_API_URL=https://api.us-south.vmware.cloud.ibm.com/v1
V_MWARE_AS_A_SERVICE_API_AUTH_TYPE=iam
V_MWARE_AS_A_SERVICE_API_APIKEY=//replace your api key here
V_MWARE_AS_A_SERVICE_API_AUTH_URL=https://iam.cloud.ibm.com