VMWARE_URL=https://api.us-south.vmware.cloud.ibm.com/v1
VMWARE_AUTH_TYPE=iam
VMWARE_APIKEY=//replace your api key here
VMWARE_AUTH_URL=https://iam.cloud.ibm.com
VMWARE_AUTH_REFRESH_TOKEN=//replace refresh token associate with client id "vmware"